<table class="table table-striped list">

    {{#each profiles as |profile|}}
        <tr>
            <td>
                <img src="/static/img/profile_{{profile.id}}.jpg" alt="">
                <h5><a href="/profile/{{profile.id}}">{{profile.name}}</a></h5>
                <p>{{profile.career}}</p>                
            </td>
        </tr>
    {{/each}}

    

</table>